<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Hello, world!</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  
  <nav>
    <img src="/images/UST_logo.png" alt="logo">
    <ul>
      <li class="">
        <a class="new-template" href="/new-template">new template</a>
      </li>
      <li class="">
        <a class="use-template" href="/use-template">browse templates</a>
      </li>
      <li class="">
        <a class="register" href="/register">sign-up</a>
      </li>
      <li class="">
        <a class="auth" href="/auth">login</a>
      </li>
    </ul>
    </div>
  </nav>
    {{{body}}}
</body>

</html>