          <li class="">
        <a class="register" href="/logout">logout</a>
      </li>
    </ul>
    </div>
  </nav>
<div class="container">

    {{!-- this goes through each item in templates.json and lists them --}}
    {{#each templates}}
        <div class="each-template">
            
            <a href="/use-template/{{this.slug}}" class=""><h2>{{this.name}}</h2></a>
            <hr>
        </div>
    {{/each}}
</div>