    <li class="">
        <a class="register" href="/logout">logout</a>
      </li>
    </ul>
    </div>
  </nav>
<div class="container-small">
    <div class="use-template">
        <h2 class="name">{{name}}</h2>
        <a href="/edit-template/{{slug}}">edit the template</a>
    </div>
    <div class="user-form form"></div>
</div>

<script>
    const name = "{{name}}"
    const text = "{{text}}"//this text not in script.js as need to be in handlebars
</script>

<script src=" ../use-template-script.js ">
    //this has code to extrack form variables from text stored and making the form
</script>
<link rel="stylesheet" href="../css/style.css">