<div class="container">
<div class="new-template">
    <form class="leftpart" onsubmit="submitForm()">
        {{!-- take input of name and text to store in templates.json --}}
        <label class="down" for="name">Enter the name of the template:</label>
        <input class="down" type="text" id="name" name="name" placeholder="Your name..">
        <label class="down" for="text">Text box: <span>to visualize the output text</span></label>
        <textarea class="down" id="text" name="text"
            placeholder="{sampleDocName}

dear ${name}, 
here you can add fixed text by directly typing it. you can also add ${newVariable} by using the “add variable button. Note that the added variables will appear with "
            ${" and "}" around it. after you have added all the text and variable, you can click on “generate template.
            can access the template by going on your profile. by web developers" style="width:80%"></textarea>
        <input class="down submit" type="submit" value="Submit">
    </form>
    <div class="rightpart">
        <form action="" onsubmit="insertVariable()">
            {{!-- this inserts variable in the text area, we dont need to add constant text, as we directly type it in
            textarea--}}
            <label class="down" for="variable">Enter variable</label>
            <input class="down" type="text" id="variable" name="variable" placeholder="Your variable..">
            <input class="down submit" type="submit" value="Insert" onclick="">
        </form>
    </div>
</div>
</div>
<script>
    // this function inserts variable in the text area but it refreshes the page
    function insertVariable() {
        event.preventDefault();
        var variable = document.getElementById("variable").value;
        document.getElementById("variable").value = "";
        var text = document.getElementById("text").value;
        var newText = text + "${" + variable + "}";
        console.log(newText);
        document.getElementById("text").value = newText;

    }
    // this function submits the form
    function submitForm() {
        event.preventDefault();
        var name = document.getElementById("name").value;
        var text = document.getElementById("text").value;
        var data = {
            name: name,
            text: text,
            slug: name.toLowerCase().replace(/ /g, '-')
        };
        console.log(JSON.stringify(data));

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/new-template");
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data));
        xhr.onload = function () {
            console.log(this.responseText);
            window.location.href = "/";
        };
    }  
</script>