<!doctype html>
<html lang="en">

<head>
  <link rel="icon" type="image/x-icon" href="/images/UST_logo.png">
  <title>UST template generator</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  
  <nav>
    <img src="/images/UST_logo.png" alt="logo">
    <ul>
      <li class="">
        <a class="new-template" href="/new-template">new template</a>
      </li>
      <li class="">
        <a class="use-template" href="/use-template">browse templates</a>
      </li>
      
    {{{body}}}
</body>

</html>