          <li class="">
        <a class="register" href="/logout">logout</a>
      </li>
    </ul>
    </div>
  </nav>
<div class="container">
    {{#each templates}}
        <div class="each-template">
          <div class="sideways">
            <a href="/use-template/{{slug}}" class=""><h2>{{name}}</h2></a>
            <a href="/edit-template/{{slug}}"><p>edit</p></a>
          </div>
            <hr>
        </div>
    {{/each}}
</div>