        <li class="">
            <a class="register" href="/{{username}}">{{username}}</a>
        </li>
    </ul>
    </div>
  </nav>
<div class="container">
    <h1>welcome <b>{{username}}</b></h1>
    {{!-- logout button --}}
    <form action="/logout" method="GET">
        <button class="logout submit" type="submit">Logout</button>
</div>
<script>
    //when logout button is clicked, the user is redirected to the /auth page
    document.querySelector("#logout").addEventListener("click", function () {
        window.location.href = "/auth";
        console.log("logout");
    })
</script>