body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #343A40;
}
nav{
    background-color: #fff;
    display: flex;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 0;
    margin-left: 0;
    width: 80%;
}
nav img{
    height: 50px;
    width: 50px;
    padding: 10px;
    margin-left: 30px;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    color: #343A40;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    border-radius: 40px;
    background-color: #25313E;
    border: 5px solid #4A525A;
}
h1{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;   
    transition: 0.5s;
    margin-right: 0px;
}
/* for new-template */
.new-template{
    display: flex;
    justify-content: left;
}
.leftpart{
    width: 70%;
}
.rightpart{
    width: 30%;
}
label.heading{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;
}
input.heading{
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #4A525A;
    background-color: #fff;
    color: #343A40;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
}
.leftpart .whitescreen{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 0px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #4A525A;
    background-color: #fff;
    color: #343A40;
    height: auto;
    width: 95%;
}
.leftpart .whitescreen h1, h2, h3, h4, h5, h6{
    color:#1d1d1d;
    align-self: baseline;
    word-wrap: break-word;
    overflow: auto;
}
.leftpart .whitescreen hr{
    border: 1px solid #1d1d1d;
    width: 100%;
}
.new-template .submit{
    width: 100px;
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 5px solid #3FB950;
    background-color: #12B529;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    align-self: center;
} 
.new-template .down{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 0px;
    margin: 10px;
    padding: 10px;
}
.subheading{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;
}
.subsubheading{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;
}
input.down{
    /* adjustable with text */
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #4A525A;
    background-color: #fff;
    color: #343A40;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
}
table{
    border-collapse: collapse;
    width: 90%;
    margin: 10px;
    margin-left: 0px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #4A525A;
    background-color: #fff;
    color: #343A40;
}
th, td{
    border: 1px solid #4A525A;
    padding: 10px;
    text-align: left;
}
.editable-container {
    position: relative;
  }
  .editable-element {
    min-height: 25px;
  }
  .delete-button {
    position: absolute;
    top: 2px;
    right: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 10%;
    padding: 3px 3px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
  }
    .delete-button:hover {
        opacity: 1;
    }
    .insert-below{
        position: absolute;
        top: 2px;
        right: 50px;
        background-color: #3FB950;
        color: white;
        border: none;
        border-radius: 5%;
        padding: 3px 3px;
        cursor: pointer;
        opacity: 0.5;
        transition: 0.3s;
    }
    .insert-below:hover {
        opacity: 1;
    }
/* .new-template label{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;
}
.new-template label span{
    font-size: 1rem;
    transform: translateY(5px);
}

.leftpart textarea, .new-template input{
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #4A525A;
    background-color: #fff;
    color: #343A40;
    font-size: 1.2rem;
    font-weight: 500;
}
.leftpart textarea{
    height: 240px;
} */

/* .leftpart .submit{
    transform: translateX(895%) translateY(-68px);
} */

/* browse-template */

.each-template .sideways{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.each-template h2{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;   
    transition: 0.5s;
    margin-right: 0px;
}
.each-template p{
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    margin: 10px;
    align-self: baseline;   
    transition: 0.5s;
    transform: translateY(12px);
}
.each-template h2:hover{
    transform: translateY(-3px);
}
.each-template a{
    text-decoration: none;
}

.each-template hr{
    width: 100%;
    border: 1px solid #fff;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
/* sign-up and login page */
.sl-heading{
    width: 90%;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;
}
.sl-link{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;
    transition: 0.3s;
}
.sl-link:hover{
    color: brown;
}
.sl-form{
    display: flex;
    flex-direction: column;
}
.sl-form input{
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #4A525A;
    background-color: #fff;
    color: #343A40;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
}
.sl-form .submit{
    width: 100px;
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 5px solid #3FB950;
    background-color: #12B529;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}
.sl-form label{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;
}
.container-small{
    display: flex;
    /* make this container centered */
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    margin-left: 24%;
    padding: 20px;
    border-radius: 40px;
    background-color: #25313E;
    border: 5px solid #4A525A;
    width: 50%;
}
/* use-template */
.use-template{
    display: flex;
    flex-direction: column;
}
.use-template h2{
    width: 90%;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;   
    transition: 0.5s;
    margin-right: 0px;
}
.use-template p{
    width: 90%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;   
    transition: 0.5s;
    margin-right: 0px;
}
.user-form .post{
    display: flex;
    flex-direction: column;
}
.user-form input{
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #4A525A;
    background-color: #fff;
    color: #343A40;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
}
.user-form label{
    color: #fff;
    font-size: 1rem;
    margin-left: 10px;
    font-weight: 300;
    align-self: baseline;
}
.user-form .submit{
    width: 100px;
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 5px solid #3FB950;
    background-color: #12B529;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}
.output_text{
    width: 90%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;   
    transition: 0.5s;
    margin-right: 0px;
}
.container-small a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;
    transition: 0.3s;
}
.container-small a:hover{
    color: brown;
}
h2.heading{
    width: 90%;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;   
    transition: 0.5s;
    margin-right: 0px;
}