  <div class="container-small">
<h2 class="sl-heading">Login</h2>
<a class="sl-link" href="/register">click here to register</a>
<form class="sl-form" action="/auth" method="POST">
    <label for="username">username</label>
    <input type="text" name="username" id="username" placeholder="username">
    <label for="password">password</label>
    <input type="password" name="password" id="password" placeholder="password">
    <input class="submit" type="submit" value="login">
</form>
</div>

<script src="../auth-script.js"></script>