  <div class="container-small">
<h2 class="sl-heading">Register</h2>
<a class="sl-link" href="/auth">click here to login</a>
<form class="sl-form" action="/register" method="POST">
    <label for="username">username</label>
    <input type="text" name="username" id="username" placeholder="username">
    <label for="password">password</label>
    <input type="password" name="password" id="password" placeholder="password">
    <label for="password">confirm password</label>
    <input type="password" name="password2" id="password2" placeholder="confirm password">
    <input class="submit" type="submit" value="register">
</form>
</div>
<script src="../register-script.js"></script>

