body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #343A40;
}
nav{
    background-color: #fff;
    display: flex;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 0;
    margin-left: 0;
    width: 80%;
}
nav img{
    height: 50px;
    width: 50px;
    padding: 10px;
    margin-left: 30px;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    color: #343A40;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    border-radius: 40px;
    background-color: #25313E;
    border: 5px solid #4A525A;
}
h1{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;   
    transition: 0.5s;
    margin-right: 0px;
}
/* for new-template */
.new-template{
    display: flex;
    justify-content: left;
}
.leftpart{
    width: 80%;
}
.rightpart{
    width: 20%;
}
.new-template label{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;
}
.new-template label span{
    font-size: 1rem;
    transform: translateY(5px);
}
.new-template .down{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 80%;
    margin-left: 0px;
    margin: 10px;
    padding: 10px;
}
.leftpart textarea, .new-template input{
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #4A525A;
    background-color: #fff;
    color: #343A40;
    font-size: 1.2rem;
    font-weight: 500;
}
.leftpart textarea{
    height: 240px;
}
.new-template .submit{
    width: 100px;
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 5px solid #3FB950;
    background-color: #12B529;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    align-self: center;
}
/* .leftpart .submit{
    transform: translateX(895%) translateY(-68px);
} */

/* browse-template */

.each-template h2{
    width: 90%;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;   
    transition: 0.5s;
}
.each-template h2:hover{
    transform: translateY(-3px);
    color: rgb(181, 181, 181);
}
.each-template a{
    text-decoration: none;
}
.each-template hr{
    width: 90%;
    border: 1px solid #fff;
    margin: 10px;
    margin-left: 0px;
}
/* sign-up and login page */
.sl-heading{
    width: 90%;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;
}
.sl-link{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;
    transition: 0.3s;
}
.sl-link:hover{
    color: brown;
}
.sl-form{
    display: flex;
    flex-direction: column;
}
.sl-form input{
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #4A525A;
    background-color: #fff;
    color: #343A40;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
}
.sl-form .submit{
    width: 100px;
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 5px solid #3FB950;
    background-color: #12B529;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}
.sl-form label{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;
}
.container-small{
    display: flex;
    /* make this container centered */
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    margin-left: 24%;
    padding: 20px;
    border-radius: 40px;
    background-color: #25313E;
    border: 5px solid #4A525A;
    width: 50%;
}
/* use-template */
.use-template{
    display: flex;
    flex-direction: column;
}
.use-template h2{
    width: 90%;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;   
    transition: 0.5s;
    margin-right: 0px;
}
.use-template p{
    width: 90%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;   
    transition: 0.5s;
    margin-right: 0px;
}
.user-form .post{
    display: flex;
    flex-direction: column;
}
.user-form input{
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #4A525A;
    background-color: #fff;
    color: #343A40;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
}
.user-form label{
    color: #fff;
    font-size: 1rem;
    margin-left: 10px;
    font-weight: 300;
    align-self: baseline;
}
.user-form .submit{
    width: 100px;
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 5px solid #3FB950;
    background-color: #12B529;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}
.output_text{
    width: 90%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px;
    align-self: baseline;   
    transition: 0.5s;
    margin-right: 0px;
}

